<div class="container mt-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="width: 20%;">Data pomiaru</th>
        {{#each cities}}
          <th scope="col" style="width: 20%;">{{ this }}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
