<div class='container mt-5'>
  <div class='alert alert-primary' role='alert'>
    Odświeżanie co
    {{refreshIntervalSec}}
    sekund.
  </div>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th scope='col' style='width: 20%;'>Data pomiaru</th>
        {{#each points}}
          <th scope='col' style='width: 20%;'>{{this}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/live.js'></script>
